src/sites-available/*
!src/sites-available/default.conf
!src/sites-available/nginx.boilerplate.conf
src/sites-enabled/*
!src/sites-enabled/default.conf
!src/sites-enabled/nginx.boilerplate.conf
node_modules
.idea
test/logs/*
